html, body {
    height: 100%;
}

.col.s2>label, .col.s3>label, .col.s4>label {
    position: absolute;
    margin-top: 15px;
}

h1, h2, h3 {
    margin: 1rem 0;
}

html>body>main {
    height: calc(100% - 64px - 48px);
}

html>body>main, html>body>div>nav, .submenu {
    padding-left: 310px !important;
    padding-right: 10px;
}

@media only screen and (max-width: 992px) {
    html body main, html>body>div>nav, .submenu {
        padding: 0 !important;
    }
}

.disabled {
    pointer-events: none!important;
    color: #e4e4e4 !important;
}

ul.sidenav li.logo img {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}

.btn.square {
    border-radius: 0;
    box-shadow: 0 0 0 0;
    padding: 0;
    width: 36px;
}

#slide-out {
    height: 100%;
}

#slide-out li {
    display: block;
}

.helper-text {
    min-height: 18px;
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}