#formadd .notvalid {
    border: 1px solid red;
}

.form-group[data-csstype=select] .d-menu span {
    font-size: 11px;
    color: grey
}

#formadd .select-input span {
    display: none !important;
}

main > div.normal {
    padding-top: 12px;
}

.collection-item.avatar {
    min-height: 10px !important;
}